vti_encoding:SR|utf8-nl
vti_author:SR|MAXOR-515C2429B\\Elekes Dávid
vti_modifiedby:SR|MAXOR-515C2429B\\Elekes Dávid
vti_timelastmodified:TR|26 Oct 2010 09:10:53 -0000
vti_timecreated:TR|26 Sep 2010 14:17:23 -0000
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|public_html/maxor/minfo.htm public_html/maxor/maxorhirhozo.htm public_html/maxor/dloads/mh89.htm public_html/maxor/statisztika21.htm public_html/maxor/minilexikon.html public_html/maxor/maxor.htm public_html/maxor/media/vtvmaxor.htm public_html/maxor/media/ovtv.htm public_html/maxor/szabalyzat.htm public_html/maxor/media.htm public_html/maxor/media/maxorradio.htm public_html/maxor/media/maxorradio2.htm
vti_nexttolasttimemodified:TW|26 Oct 2010 09:10:44 -0000
vti_cacheddtm:TX|26 Oct 2010 09:10:53 -0000
vti_filesize:IR|1276
vti_cachedlinkinfo:VX|S|mtb.png S|mbull1.gif S|mbull1.gif S|mhat2.png
vti_cachedsvcrellinks:VX|FSUS|public_html/mtb.png FSUS|public_html/mbull1.gif FSUS|public_html/mbull1.gif FSUS|public_html/mhat2.png
