vti_encoding:SR|utf8-nl
vti_author:SR|MAXOR-515C2429B\\Elekes Dávid
vti_modifiedby:SR|MAXOR-515C2429B\\Elekes Dávid
vti_timelastmodified:TR|01 Oct 2010 13:58:00 -0000
vti_timecreated:TR|29 Jul 2010 18:50:28 -0000
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|public_html/madar/madarkep.htm public_html/kepek/main.htm public_html/index.htm public_html/madar/madarhang.htm public_html/kepek/anime.htm public_html/telep/main.htm public_html/telep/tapiogyorgye.htm public_html/info.htm public_html/rovar/rovarkep.htm public_html/welcome.htm
vti_nexttolasttimemodified:TW|23 Aug 2010 13:42:05 -0000
vti_cacheddtm:TX|01 Oct 2010 13:58:00 -0000
vti_filesize:IR|503
vti_cachedlinkinfo:VX|S|bkgrnd.PNG S|ul.gif S|bullet0.PNG
vti_cachedsvcrellinks:VX|FSUS|public_html/bkgrnd.PNG FSUS|public_html/ul.gif FSUS|public_html/bullet0.PNG
